# Google Cloud credentials file path
GOOGLE_APPLICATION_CREDENTIALS=C:/path/to/service-account.json

# Google Document AI Receipt Parser config
GOOGLE_PROJECT_ID=your-google-project-id
GOOGLE_DOCUMENT_AI_LOCATION=us
GOOGLE_DOCUMENT_AI_PROCESSOR_ID=your-processor-id
